body{
    margin:0;
    background-color: #01295f;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.quiz-container{
    max-width: 700px;
    min-height: 500px;
    background-color: #ffffff;
    margin: 30px auto;
    border-radius: 10px;
    padding: 30px;
}
.quiz-container::after,.quiz-container::before{
    content: '';
    clear: both;
    display: table;
}

.question-number,
.question,
.options,
.button,
.answer-tracker{
    float: left;
    width: 100%;
}

.question-number{
    color:#01295f;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom: 10px;
}
.question{
    font-size: 24px;
    color: #000000;
    padding: 15px 0;
}
.options div{
    background-color: #cccccc;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    border-radius:5px ;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.options div.correct{
    z-index: 1;
    color: #ffffff;
}
.options div.select::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: green;
    animation: animateBackground 1s ease;
    animation-fill-mode: forwards;
}
@keyframes animateBackground{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.button .btn{
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color:#ecd52a;
    font-size: 16px;
    color: #ffffff;
    border: none;
    display: inline-block;
    margin: 15px 0 20px;

}
.answer-tracker{
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.answer-tracker div{
    height: 40px;
    width: 40px;
    background-color: #cccccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}