.main-container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-container {
  width: 45vw;
  height: 110vh;
  overflow: hidden;
  position: relative;
}

.register-img {
  max-width: 100%;
  height: auto;
}

.register-container {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 13%;
}

.register-logo {
  width: 450px;
  background-color: white;
  border-radius: 25px;
}

@media screen and (max-height: 885px) {
  .register-logo {
    width: 350px;
  }
}

@media screen and (max-height: 770px) {
  .register-logo {
    display: none;
  }
}

@media screen and (max-width: 1185px) {
  .img-container {
    display: none;
  }
  .main-container {
    justify-content: center;
  }
  .register-container {
    padding-left: 0%;
  }
}
